.App {
  text-align: center;
}

.noteboard-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #677b69;
  color: #e2f8e5;
}

.all-notes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 40px 0;
}
.theme-light {
  background-color: #e9efe9;
}
.theme-dark {
  background-color: #425840;
}

.theme-light > .note-item {
  background-color: #bec8bd;
  border: 1px solid #234f27;
}

.theme-dark > .note-item {
  border: 1px solid #798e7a;
  background-color: #20381e;
}

.theme-dark > .note-item > .note-delete-item {
  border: 1px solid #798e7a;
  background-color: #20381e;
  color: #b0c2ae;
}

.theme-dark> .note-item> div > .note-save-item {
  border: 1px solid #798e7a;
  background-color: #20381e;
  color: #b0c2ae;
}

.note-item {
  position: relative;
  width: 160px;
  height: 200px;
  border-radius: 4px;
  margin: 10px;

}

.add-note-btn, .change-theme-btn {
  border: 1px solid #e4ece4;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 16px;
  background-color: #677b69;
  color: #e2f8e5;
}

.note-item-textarea{
  border: 1px solid green;
  margin: 5px;
  padding: 5px;
  width: 135px;
  height: 140px;
  outline: none;
}

.note-delete-item {
  border: 1px solid green;
  background-color: rgb(228, 240, 228);
  border-radius: 50%;
  padding: 3px 8px;
  position: absolute;
  top: -15px;
  right: -15px;
}

.note-save-item {
  border: 1px solid green;
  background-color: rgb(228, 240, 228);
  border-radius: 4px;
  padding: 4px 8px;
  
}

.note-save-item:hover, 
.add-note-btn:hover, 
.note-delete-item:hover, 
.change-theme-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

